@import url(https://fonts.googleapis.com/css?family=Noto+Sans:300,400,400i,500,600,700);@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700);@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);@import url(https://fonts.googleapis.com/css?family=Overlock:400,700,900);@import url(https://fonts.googleapis.com/css?family=Abel);@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    font-size: 14px;
    text-decoration: none; /*gach chan the a*/
}
li{list-style: none;    float: left;
    margin-right: 7px;}/*nhung cham den o the li*/
body{
    /*font-family: Arial,MontserratAlternates-Bold,Roboto-Regular,NotoSans-Regular,NotoSans-Bold,sans-serif;*/
    /*src:url("../fonts/NotoSans-Regular.ttf");*/
    /*src:url("../fonts/NotoSans-Bold.ttf");*/
    /*src:url("../fonts/MontserratAlternates-Bold.ttf");*/
    /*src:url("../fonts/Roboto-Regular.ttf");*/
    font-family:"Noto Sans",sans-serif;font-size:13px;line-height:1.42857;color:#383737;background-color:#FFF
}
a:hover{
    color: #fff !important;
    text-decoration: none;
}
.header{
    height: auto;
    border-top: 3px solid #304D12;

}
.top-header{
    background: #406618;
    width: 100%;
    float: left;
    line-height: 50px;
    margin-bottom: 10px;
    margin: auto 0px;
}
/*.pull-left{
    margin: auto 0px;
}*/
.pull-left span{
    color: #81cd30 !important;
    padding-left: 5px;
}
.pull-left span a i{
    color: #81cd30 !important;
}
.pull-right li a{
    color: #81CD30;
    text-decoration: none;
    padding: 0px 11px;
}
.pull-menu {
    min-width: 5px;
    margin-top: -9px;
    margin-left: 4px;
    height: 65px;
    border-radius: 7px;
}
.pull-menu li{
   /*padding: 0px 30px;*/
}
.login{
    margin-top: -20px;
}
.regis{
    margin-top: -40px;
}
.pull-menu li>a:hover{
    color: #81CD30 !important;
}
.pull-right li a i {
    color: #81CD30;
    padding-right: 4px;
}
.pull-menu li a{
    color: #406618;
}
.header-logo{
    width: 100%;
    margin-top: -10px; 
    background-color: #fafafa;/*#fafafa*/
    height: 130px;
    border-top: 1.2px solid #b5b5b5;
}
.text-center{
    line-height: 130px;
}
.cart-top{
    position: absolute;
    right: 0;
    top: 36px;
    cursor: pointer;
}
 #cart #cart-total{
    color: #383737;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* border-bottom: 3px solid #406618; */
    float: left;
    margin-top: 9px;
    padding-bottom: 3px;
}
.navbar-mega-theme{
    width: 100%;
    height: 48px;
    float: left;
    background: #fafafa;
    border-bottom: 4px double #D7D7D7;
    /*border-bottom: 3px double blue;*/
}
.megamenu{
    display: inline-block;
    line-height: 48px;
}
.megamenu li>a{
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 16px;
    
    color: #383737;
    padding: 12px 30px;
    margin-left: -7px; 
    font-family: "Montserrat Alternates",sans-serif;
    /*padding-right: 60px;*/
}
.megamenu li:hover a,.megamenu li a.active{
    border-bottom: 2px solid #406618;
    box-sizing: border-box;
    color : #383737 !important;
    /*transition-duration: 1s;*/
}
.megamenu li{
    border-right:1px solid #D7D7D7;
}
.nav-search{line-height: 48px; margin-left: -80px}
.nav-search input:focus{
    color: #406618;
}
.nav-search button{
    border:none;
    outline: none;
}
/*.nav-search button:hover{ sửa lại tìm kiếm
    border: none;
}*/
.nav-search button>i:hover{
    color: #406618;
}
#input_search{
    outline: none; /*Đinh dạng đường viền boder bao ngoài*/
    border: none;
    background: inherit;/*kế thừa màu từ thằng cha*/
    border-radius: 0px;
    font-size: 14px;
}
#btn_search{
    outline: none;
    border: none;
    background: none;
    color: #000000;
}
/*Đổi màu placeholder*/
#input_search::-webkit-input-placeholder { color:#406618;font-family: Roboto-Regular; }
#input_search::-moz-placeholder { color:#406618;font-family: Roboto-Regular; }
#input_search:-ms-input-placeholder { color:#406618;font-family: Roboto-Regular; }
input:-moz-placeholder { color:#406618;font-family: Roboto-Regular; }
/*end*/
.banner{
    width: 100%;
    height: auto;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
      margin-top: 30px;
  }

.content{
    width: 100%;
    height: auto;
    padding-top: 20px;
/*    background: blue;*/
}
.introduction-product{
    /*background: blue;*/
    height: 150px;
    word-wrap: break-word;
}
.introduction-product h3{
    /*background: blue;*/
    font-weight: bold;
    font-family: "Montserrat Alternates",sans-serif;
    display: block;
    color: #383737;
    margin-top: 6px;
    margin-left: 13px;
    /*word-break: break-all;*/
}
.introduction-product p{
    /*background: blue;*/
    font-family: sans-serif;
    display: block;
    color: #383737;
    margin-top: 16px;
    margin-left: 13px;
    /*word-break: break-all;*/
}
.introduction-product a{
    width: 101px;
    margin-bottom: -39px;
    margin-left: 10px;
    line-height: 1.10;
    font-family: sans-serif;
    background: #2b490b;
    border: none;
}
.introduction-product a:hover{
    background: #406618;
}
.product-top{
    width: 100%;
    height: 50px;
}
.new-top{
    padding-top: 40px;
}
.img-product{
    float: right;
    margin-right: -15px;
    transition: transform 0.6s ease 0s;
}
.product-1:hover img{
    position: relative;
    -webkit-transform:translate3d(-50px,0,0);
    transform:translate3d(50px,0,0);
    overflow : hidden;
}
.product-2:hover img{
    position: relative;
    -webkit-transform:translate3d(-50px,0,0);
    transform:translate3d(50px,0,0);
    overflow : hidden;
}
.product-3:hover img{
    position: relative;
    -webkit-transform:translate3d(-50px,0,0);
    transform:translate3d(50px,0,0);
    overflow : hidden;
}
.new-product{
    background-color: #fff;
}
/*position: relative;
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    /*animation: mymove 1s infinite;
    }*/

    /* Safari 4.0 - 8.0 */
    /*@-webkit-keyframes mymove {
        from {left: 0px;}
        to {left: 50px;}
    }*/

    /*@keyframes mymove {
        from {left: 0px;}
        to {left: 50px;}
    }*/
/*.test{
    background-color: red;
    border-color: red;
}*/
/*.test a:hover{
    background-color: red;
    border-color: red;
}*/
.title{
    
    background-color: #FFF;
    z-index: 9;
    position: relative;
    padding: 0 11px;
    padding-top: 2px;
    border:1px double #D7D7D7;
}
.top-product{
    padding-top: 60px;
    /*background-color: yellow;*/
}
.title-product{
    text-transform:uppercase;
    font-family: NotoSans-Bold;
}
.panel-title{
    margin-left: 8px;
    font-family: "Montserrat Alternates",sans-serif;
}
.border-leng{
    margin-top: 12px;
    font-family: NotoSans-Bold;
}
.theme-list{
    padding-top: 20px;
}
.borther-product{
    height: 390px;
    border-radius: 10px;
}
.card-body h5{
    text-align: center;
    margin-top: 14px;
    /*padding-top: 19px;*/
}
.card-body h5 a{
    color: #000;
    font-size: 20px;
    font-family: Roboto-Regular;
}
.card-body h5 a:hover{
    color: #000 !important;
}
.product-images{
    width: 80%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
    position: relative;
    overflow: hidden;
}
.price{
    color:#385A15;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    /*margin-top: 12px;*/
}
.rating{
    text-align: center;
    font-size: 12px;
    color:#385A15;
    padding-top: 5px;
}
.card-product{
    text-align: center;
    padding-top: 15px;
}
.card-product button{
    width: 180px;
    height: 38px;
    border:none;
    background-color: #406618;
    outline: none;
}
.card-product button:hover{
    background-color: #67A427;
    border:none;
}
.card-product span{
    line-height: 2.8;
}
.btn-action{
    border: none;
    color: #FFF;
    font-size: 14px;
    padding: 0;
    border-radius: 5px;
}
.btn-action i{
    width: 39px;
    height: 38px;
    line-height: 38px;
    background-color: #2b490b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;
}
.img-banner{
    padding-top: 60px;
    /*background: red;*/
}
.paralax-title{
    width: 100%;
    height: auto;
    /*background: red;*/
}
.paralax-banner{
    padding-top: 30px;
    padding-bottom: 90px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border-radius: 10px;
    margin: auto 0px;
}
.para-content{
    text-align: center;
}
/*.paralax-title{
    width: 100%;
    height: 261px;
    background: red;
    border-radius: 10px;
    overflow: hidden;
}*/
/*.images-title{
    display: inline-block;
    position: relative;
    right: -50%;
}*/
/*.images-title img{
    position: relative;
    left: -50%;
}*/
.text-white{
    font-family: "Dancing Script",cursive;
    font-size: 48px;
}
.text-white-small{
    font-family: "Abel",sans-serif;
    color: #FFF;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px; /*Tăng hoặc giảm khoảng cách giữa 2 ký tự*/
    position: relative;
}
.btn-white{
    min-width: 140px;
    min-height: 48px;
    background-color: #fff;
}
.para-content span a{
    color: #000;
}
.para-content span a:hover{
    color: #fff;
}
.para-content span:hover{
    background: #67A427;
}
.pretty-product{
    width: 100%;
}
.productdeals{
    padding-top: 60px;
    height: auto;
}
.panel-heading{
    margin-bottom: 15px;
    text-align: center;
    color: #000;
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.panel-heading h3{
    font-size: 25px;
    font-family: "Montserrat Alternates",sans-serif;
}
.panel-heading h3:before{
    border: 1px double #C6CCD2;
    content: "";
    height: 3px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}
.left-product{
    height: 322px;
}
.productcarousel{
    height: 265px;
    border-radius: 10px;
}
.product-body{
    text-align: center;
}
.panel-product{

}
.panel-product span{
    color: #383737;
    background: #fff;
    position: relative;
    z-index: 9;
    font-size: 25px;
    font-family: "Montserrat Alternates",sans-serif;
}
.name-product{
    padding-top: 12px;
}
.name-product a{
    color: #000;
    font-family: "Noto Sans",sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.name-product a:hover{
    color: #000 !important;
}
.price-product{
    color: #385A15;
    font-weight: 700;
    padding-top: 10px;
}
.product-next{
    padding-top: 10px;
}
.product-next button{
    background: #406618;
    width: 110px;
    height: 26px;
    border: none;
    outline: none;
}
.product-next button:hover{
    background-color: #67A427;
    border:none;
}
.images-left{
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.img-right{
    height: 289px;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
}
.img-right:before{
    border-bottom:50px solid rgba(255,255,255,.4);
    border-top:50px solid rgba(255,255,255,.4);
    content:"";
    height:100%;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
    position:absolute;top:0;
    transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -o-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -webkit-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -moz-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -ms-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -webkit-transition:opacity 0.35s ease 0s,
    transform 0.35s ease 0s;
    -o-transition:opacity 0.35s ease 0s,
    transform 0.35s ease 0s;
    transition:opacity 0.35s ease 0s,
    transform 0.35s ease 0s;
    transform-origin:50% 50% 0;
    width:100%
}
.img-right:hover:before{
    opacity:1;
    filter:alpha(opacity=100);
    transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -o-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -webkit-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -moz-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -ms-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1)}

.event{
    width: 100%;
}
.right-product{
    height: 322px;
}
.panel-social{
    margin-bottom: 15px;
    text-align: center;
    color: #000;
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.panel-social h3{
    font-size: 25px;
    font-family: "Montserrat Alternates",sans-serif;
}
.panel-social h3:before{
    border: 1px double #C6CCD2;
    content: "";
    height: 3px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}
.panel-promotion span{
    color: #383737;
    background: #fff;
    position: relative;
    z-index: 9;
    font-size: 25px;
    font-family: "Montserrat Alternates",sans-serif;
}
.product-event{
    height: 265px;
    border-radius: 10px;
}
.img-title{
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.event-body{
    text-align: center;
}
.name-event{}
.price-event{}
.next-event{}
.name-event{
    padding-top: 12px;
}
.name-product a{
    color: #000;
    font-family: "Noto Sans",sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.name-event a:hover{
    color: #000 !important;
}
.price-event{
    color: #385A15;
    font-weight: 700;
    padding-top: 10px;
}
.next-event{
    padding-top: 10px;
}
.next-event button{
    background: #406618;
    width: 110px;
    height: 26px;
    border: none;
    outline: none;
}
.next-event button:hover{
    background-color: #67A427;
    border:none;
}
.img-event{
    height: 289px;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
}
.img-event:before{
    border-bottom:50px solid rgba(255,255,255,.4);
    border-top:50px solid rgba(255,255,255,.4);
    content:"";
    height:100%;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
    position:absolute;top:0;
    transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -o-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -webkit-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -moz-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -ms-transform:rotate3d(0,0,1,45deg) scale3d(1,0,1);
    -webkit-transition:opacity 0.35s ease 0s,
    transform 0.35s ease 0s;
    -o-transition:opacity 0.35s ease 0s,
    transform 0.35s ease 0s;
    transition:opacity 0.35s ease 0s,
    transform 0.35s ease 0s;
    transform-origin:50% 50% 0;
    width:100%
}
.img-event:hover:before{
    opacity:1;
    filter:alpha(opacity=100);
    transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -o-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -webkit-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -moz-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1);
    -ms-transform:rotate3d(0,0,1,45deg) scale3d(1,4,1)}

.footer{
    background: #304d12;
    height: auto;
    /*padding-top: 30px;*/
}
.top-footer-product{
    width: 100%;
    height: 95px;
    background: #406618;
}
.center-footer{
    width: 100%;
    height: 270px;
}
.bottom-footer{
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 4px solid #304d12;
}
.footer-top{
    width: 100%;
    height:95px;
}
.top-icon{
    background: #507f1e;
    height: 95px;
}
.nav-min-bottom li>a{
    color: #b9cca5;
    line-height: 95px;
    font-size: 18px;
}
.nav-min-bottom li>a{
    padding: 0px 15px;
    text-align: center;
}
.nav-min-bottom{
    margin-left: 50px;
}
.send-mail{
    padding-left: 50px;
}
.mail-description{
    border-bottom: 1px solid #b9cca5;
    color: #fff;
}
.mail-description input{
    background: #406618;
    width: 456px !important;
    border: none;
    font-style: italic;
}
.mail-description input:focus{
    background: #406618;
    color: #b9cca5;
    border: none;
}
.new-mail h3{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat Alternates",sans-serif;
    line-height: 95px;
    letter-spacing: 2px; /*khoảng cách giữa các chữ*/
    font-weight: 300;
    padding-left: 50px;
    /*padding-right: 20px;*/
}
.icon-mail{
    border: none;
    background: none;
}
.icon-mail i{
    color: #b9cca5;
}
.title-home{
    padding-top: 40px;
}
.title-home h5{
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Montserrat Alternates",sans-serif;
}
.content-title p{
    color: #b9cca5;
    font-family: "Noto Sans",sans-serif;
    padding-top: 20px;
}
.address{
    color: #b9cca5;
    font-family: "Noto Sans",sans-serif;
    padding-top: 7px;
}
.text-title h5{
    color: #fff;
    font-weight: 300;
    padding-top: 41px;
    text-transform: uppercase;
    font-family: "Montserrat Alternates",sans-serif;
}
#input_mail::-webkit-input-placeholder { color:#b9cca5;font-style: italic; font-size: 12px; }
#input_mail::-moz-placeholder { color:#b9cca5;font-style: italic; font-size: 12px; }
#input_mail:-ms-input-placeholder { color:#b9cca5;font-style: italic; font-size: 12px;}
input:-moz-placeholder { color:#b9cca5;font-style: italic; font-size: 12px;}
.list-title{
    float: left;
    width: 65%;
    padding-top: 6px;
}
.list-title  li a{
    color: #b9cca5;
    font-family: "Noto Sans",sans-serif;
    text-align: center;
}
.payment{
    text-align: right;
    padding-top: 31px;
}
.about,.about-security,.about-delivery,.about-condition{
    padding-top: 12px;
}
.copyright-title h6{
    padding-top: 10px;
    text-align: center;
}
.icon-home a:hover{
    color: #507f1e !important;
}
.icon-home a{
    color: #000;
}
.description-about{
    padding-bottom: 40px;
}
.description-about h3{
    padding-top: 30px;
    font-family: "Montserrat Alternates",sans-serif;
}
.contact-form{
    padding-top: 46px;
}
contact-detail{
    text-align: center;
}
.contact-detail h3{
    text-align: center;
    padding-bottom: 25px;
    color: #406618;
    font-weight: bold;
}
#btn-name{
    width: 343px;
    height: 31px;
    margin-left: 123px;
}
.name-contact input{
    border-radius: 5px;
}
/*.name-contact{*/
    /*text-align: center;*/
/*}*/
.title-name{
    font-size: 15px;
    font-weight: bold;
    margin-left: 123px;
}
#btn-address{
    width: 343px;
    height: 31px;
    margin-left: 123px;
    text-align: center;
}
#area-contact{
    width: 344px;
    height: 160px;
    margin-left: 123px;
}
.sent-content input{
    float: right;
    margin-right: 71px;
    max-width: 97px;
    height: 37px;
}
.sent-content{
    padding-bottom: 90px;
}
.detail-map{
    color: #406618;
    font-weight: bold;
}
.post-news{
    width: 100%;
    /*padding-top: 45px;*/
}
.post-news h3{
    padding-top: 55px;
    font-family: "Montserrat Alternates",sans-serif;
}
.post-title h3{
    padding-top: 35px;
    border-bottom: 4px double #406618;
}
.border-news{
    border: 1px solid #406618;
    margin-top: 22px;
}
.title-post{
    margin-left: 27px;
}
.title-news{
    font-size: 27px;
    color: #406618;
    margin-top: -23px;
}
.title-post a:hover{
    color: #406618 !important;
}
.title-post p a{
    color: #fff !important;
    background: #406618;
    border: none;
    width: 102px;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}
.title-post p a:hover{
    color: #fff !important;
    background: #67A427;
}
.text-share{
    padding-top: 7px;
}
.text-share a{
    color: #406618;
}
.text-share a:hover{
    color: #406618 !important;
}
.contpost{
    margin-bottom: 33px;
    /*padding-bottom: 29px;*/
    /*border-bottom: 1px solid red;*/

}
.border-list{
    border: 1px solid #EBEBEB;;
    margin-top: 32px;
}
.list-detail{
    padding-top: 32px;
}
.title-news-left{
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: #ff880b;
    text-transform: uppercase;
    border: 1px solid gainsboro;
    font-size: 15px;
}
.news-img{
    border: 1px solid gainsboro;
    position: relative;
    margin-top: -17px;
    border-top: none;
}
.list-new-right{
    float: left;
    color: #777;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -1px;
    height: 70px;
    overflow: hidden;
    border-bottom: thin dotted #ccc;
}
.list-new-right a p:hover{
    color: #406618;
}
.image-right img{
    width: 225px;
    margin-left: -7px;
}
.content-img {
     float: right;
     margin-top: -64px;
     margin-right: 10px;
     color: #777;
 }
.title-list{
    width: 100%;
    border: 1px solid gainsboro;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #ff880b;
    text-transform: uppercase;
    font-weight: 700;
}
.slide-list{
    width: 100%;
}
.posts-detail{
    /*border: 1px solid gainsboro;*/
    position: relative;
    margin-top: -17px;
    border-top: none;
    margin-bottom: 25px;
}
.list-right{
    width: 100%;
    /*text-align: center;*/
    line-height: 35px;
    margin-bottom: -1px;
    border: thin solid #ccc;
    border-top: none;
}
.list-right li{
    border-bottom: thin dotted #ccc;
    width: 100%;
    margin-bottom: -1px;
}
.list-right li:hover{
    background: #a9f192;
    transition: all 0.5s;
}
.list-right li a{
    /*border-bottom: thin dotted #ccc;*/
    height: 35px;
    float: left;
    line-height: 35px;
    width: 100%;
    color: #777;
    padding-left: 30px;
}
.list-right a i{
    color: #46b105 ;
    margin-right: 3px;
}
.list-right a:hover {
    color: #777 !important;
}
.news-border{
    padding-bottom: 25px;
}
.images-border-news a img{
    border: thin solid #ccc;
    border-radius: 7px;
}
/*.title-card{*/
    /*padding-top: 40px;*/
/*}*/
/*.title-card{*/
    /*width: 100%;*/
/*}*/
.card-name{
    width: 100%;
    color: #406618;
    margin-top: 40px ;
    border-bottom: 3px solid red;
    padding-bottom: 7px;
    text-align: center;
    font-weight: 700;
}
.product-cart{
    padding-top: 30px;
}
.Detailed-table{
    font-size: 15px;
    color: #406618;
}
.text-table{
    text-align: center;
}
.text-table a{
    color: #fff;
}
.table-product{
    text-align: center;
    background-color: #f9f9f9;
}
.number-total b{
    color: #406618;
    font-size: 20px;
}
.card-none a{
    line-height: 34px;
}
.card-none a:hover{
    color: #0275d8 !important;
}
.buy-product a{
    color: #406618;
    line-height: 34px;
}
.buy-product a:hover{
    color: #406618 !important;
}
.table-product span{
    font-size: 14px;
    font-weight: 700;
}
.table-product a{
    background: #406618;
    border: none;
}
.table-product a:hover{
    background: #406618;
}
.title-card-right{
    text-align: center;
    border: thin solid gainsboro;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #ff880b;
}
.product-buy-many{
    width: 100%;
}
.card-detail-product{
    width: 100%;
    border: thin solid gainsboro;
    margin-top: -17px;
    border-top: none;
    margin-bottom: 20px;
}
.view-card-product{
    border-bottom: thin dotted #ccc;
    height: 70px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: -1px;
    padding-bottom: 74px;
}
.image-right-product img{
    margin-left: -5px;
}
.border-right-product{
    width: 100%;
    float: right;
    margin-top: -65px;
    margin-right: 10px;
}
.view-card-product a p {
    color: #777;
    overflow: hidden;
}
.view-card-product a p:hover {
    color: #406618;
}
.view-card-product a span {
    margin-top: -13px;
    color: red;
}